<footer class="titlefooter">
    <div class="div1">

        <img src="assets/img/logoBPK9.png" alt="">
        

        <p class="pcontent">
            <a href=""><i class="fa-solid fa-location-dot"></i>362 ถนนพระราม 2 แขวงบางมด เขตจอมทอง กรุงเทพมหานคร 10150</a>
        </p>
        <p class="pcontent">
            <a href="">โทรศัพท์. 0-2109-9111 | โทรสาร.0-2877-2222</a>
        </p>
        <br>
        <p class="pcontent">
            <a href="info@bangpakokhospital.com"></a>
        </p>


    </div>
    <div class="div2">
        <ul>
            <p class="titlecontact">โรงพยาบาลในเครือ</p>
            <li><a href="https://www.bangpakok1.com/">บางปะกอก 1</a></li>
            <li><a href="https://www.bangpakok3.com/">บางปะกอก 3</a></li>
            <li><a href="https://www.bangpakok8.com/">บางปะกอก 8</a></li>
            <li><a href="">บางปะกอก 9 อินเตอร์เนชั่นแนล</a></li>
            <li><a href="https://piyavate.com/">ปิยะเวท</a></li>
            <li><a href="https://www.bangpakokrangsit.com/">บางปะกอก-รังสิต 2</a></li>
            <li><a href="https://www.bpksamutprakan.com/">บางปะกอกสมุทรปราการ</a></li>
        </ul>
    </div>

</footer>
<footer class="endfooter">
    <p>Copyright © 2019 Bangpakok Hospital All rights reserved.</p>
</footer>