<div class="outer-container">
    <div class="inner-container">
        <h1>โรงพยาบาลบางปะกอก 9 อินเตอร์เนชั่นแนล</h1>

        <p >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;โรงพยาบาลบางปะกอก 9 อินเตอร์เนชั่นแนล เป็นโรงพยาบาลเอกชนชั้นนำของประเทศไทย ในเครือของโรงพยาบาลบางปะกอก (BPK
            Hospital Group) ตั้งอยู่บนถนนพระราม 2 กรุงเทพมหานคร เริ่มให้บริการมาตั้งแต่ปีพุทธศักราช 2546 ก่อตั้งโดย
            แพทย์หญิงเจรียง จันทรกมล และรองศาสตราจารย์พิทยา จันทรกมล
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;โรงพยาบาลบางปะกอก 9 อินเตอร์เนชั่นแนล ได้รับการรับรองมาตรฐานคุณภาพจากองค์กร JCI (The Joint Commission
            International) และได้การรับรองมาตรฐานคุณภาพจาก HA (Hospital accreditation)
            เพียบพร้อมด้วยศูนย์การแพทย์เฉพาะทางหลากหลายสาขา มีทีมแพทย์ผู้เชี่ยวชาญจากสถาบันทางการแพทย์
            และเทคโนโลยีทางการแพทย์ที่ทันสมัย เพื่อรองรับต่อความต้องการของผู้ป่วย
            ให้บริการผู้ป่วยทั้งชาวไทยและชาวต่างชาติจากทั่วโลก
            <br>
            <br>

            <img src="http://www.bangpakokhospital.com/upload/Heart-of-care-th2.jpg">
        </p>


    </div>
</div>