<header>
    <nav class="nav0">
        <div class="logo">
            <img src="https://www.bpk9internationalhospital.com/image_upload/sysimg-logo_header_3.png" alt="logoBPK9">
        </div>
        <ul class="menu0">
            <li><a href="#">สมัครสมาชิค</a></li>
            <li> <a href="#">เข้าสู่ระบบ</a></li>
        </ul>
    </nav> 
    <nav >
        <ul class="menu">
            <li><a href="/home" class="nav-link" id="navHome">หน้าหลัก</a></li>
            <li><a href="/about" class="nav-link" id="navAbout"> เกี่ยวกับเรา </a></li>
            <li> <a href="#" class="nav-link"> ศูนย์การแพทย์ </a></li>
            <li> <a href="#" class="nav-link"> เเพทย์ของเรา </a></li>
            <li> <a href="#" class="nav-link"> บริการของเรา </a></li>
            <li> <a href="#" class="nav-link"> ข่าวสาร </a></li>
            <li> <a href="#" class="nav-link"> ติดต่อเรา </a></li>

        </ul>
    </nav>
</header>

<hr>