<!-- <picture>
    <img src="assets/img/mainhome01.png" alt="">
    <img src="assets/img/mainhome02.png" alt="">
    <img src="assets/img/mainhome03.png" alt="">
    <img src="assets/img/mainhome04.png" alt="">
    <img src="assets/img/mainhome05.png" alt="">
    <img src="assets/img/mainhome06.png" alt="">
</picture> -->

<div class="carousel">
    <div class="carousel-inner">
        <img src="assets/img/mainhome01.png" alt="">
        <img src="assets/img/mainhome02.png" alt="">
        <img src="assets/img/mainhome03.png" alt="">
        <img src="assets/img/mainhome04.png" alt="">
        <img src="assets/img/mainhome05.png" alt="">
        <img src="assets/img/mainhome06.png" alt="">
    </div>
    <button class="prev" onclick="prevSlide()">&#10094;</button>
    <button class="next" onclick="nextSlide()">&#10095;</button>
</div>
<br><br><br><br>
<div>
    <h2>โรงพยาบาลบางปะกอก 9 อินเตอร์เนชั่นแนล เป็นโรงพยาบาลชั้นนำของประเทศ ที่เชี่ยวชาญทางการแพทย์แบบองค์รวม
        มีมาตรฐานสากล ด้วยนวัตกรรม เทคโนโลยีและ “ดูแลด้วยหัวใจ”
        <br>
        Bangpakok 9 international hospital is a leading hospital in Thailand with expertise in international standard
        holistic healthcare, innovation, modern technology, and “Heart of care”.</h2>
</div>
